body {
    background-color: hsl(30, 38%, 92%);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.left-container {
    /* width: 50%; */
}

.right-container {
    background-color: hsl(0, 0%, 100%);
    padding-left: 2%;
    padding-right: 2%;
}

.perfume {
    color: hsl(228, 12%, 48%);
}

.paragraph {
    color: hsl(228, 12%, 48%);
}

.amount {
    color: hsl(158, 36%, 37%);
}

.cart-button {
    background-color: hsl(158, 36%, 37%);
    border: 0;
    border-radius: 5px;
    color: white;
}